@use 'mixins';
@use 'variables';

@media (min-width: 300px) {
  body {
    background-color: green;
    font-size: 18px;
    padding: 20px;
  }

  h2{
font-size: medium;
  }

  .cervezas{
    font-size: medium;
  }

  .logo {
    position: relative;
    left: 180px;
    align-content: center;
    @include mixins.border-rounded(50%);
    width: 200px;
    height: auto;
  }

  #mapa {
    @include mixins.border-rounded;
    width: 80%;
  }

  .video {
    width: 70%;
    border: 4px solid gold;
  }
}

@media (min-width: 600px) {
  body {
    background-color: blue;
    font-size: 20px;
    padding: 30px;
  }
  h2{
    font-size: large;
      }
  .cervezas{
    font-size:x-large;
  }

  .logo {
    position: relative;
    left: 200px;
    @include mixins.border-rounded(50%);
    width: 400px;
    height: auto;
  }

  #mapa {
    @include mixins.border-rounded;
    width: 80%;
  }

  .video {
    width: 70%;
    border: 4px solid gold;
  }
}

@media (min-width: 900px) {
  body {
    background-color: brown;
    font-size: 30px;
    padding: 30px;
  }

  h2{
    font-size: x-large;
      }
  .cervezas{
    font-size: xx-large;
  }

  .logo {
    position: relative;
    left: 480px;
    @include mixins.border-rounded(50%);
    width: 600px;
    height: auto;
  }

  #mapa {
    @include mixins.border-rounded;
    width: 80%;
  }

  .video {
    width: 70%;
    border: 4px solid gold;
  }
}
