$color-goldenrod: goldenrod;
$color-brown: brown;
$color-blueviolet: blueviolet;
$color-aqua: aqua;
$color-darkgoldenrod: darkgoldenrod;
$color-palegoldenrod: palegoldenrod;
$color-palevioletred: palevioletred;
$font-cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
